.container{
  width:130px;
  max-width: 100%;
  height:200px;
  position:relative;
  perspective: 1000;
  -webkit-perspective: 1000;
  left: 22.8%; /*29%;*/
  top: 0%;
  display: flex; /* Aktiviert Flexbox */
}

.card{
  width:100%;
  height:100%;
  position:absolute;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transition:transform 1s ease;
  cursor:pointer;
}

.front{
  border-radius:6px;
  position:absolute;
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
}

.contentfront{
  width:100%;
  height:100%;
  float:left;
  transform:translatez(60px);
  -webkit-transform:translatez(60px);
}

.front{
  text-transform:uppercase;
  background-color:#232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.date{
  height:100%;
  width:130px;
  float:left;
  background-color:#FE4A49;
  border-radius:0 0 10px 10px;
  text-align:right;
  padding:10px 30px;
  box-sizing:border-box;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Leichter Schatten für 3D-Effekt */
}

.datecont{
  transform:translatez(60px) scale(1.4);
  -webkit-transform:translatez(60px) scale(1.4);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#date{
  font-size:50px;
  color:#ECECE7;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  float:right;
}

#day{
  float:right;
  font-size:14px;
  color:#232227;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

#month{
  float:right;
  font-size:10px;
  color:#232227;
  font-family: 'Montserrat', sans-serif;
  font-weight:200;
}

.date i{
  color:#ECECE7;
  position:absolute;
  bottom:10px;
  right:0;
}

.date i:hover{
  color:#232227;
  transition:.3s ease;
}

.month{
  height:100%;
  width:270px;
  float:left;
  padding:20px 30px;
  box-sizing:border-box;
}

.month table{
  width:100%;
}

.orangeTr{
  color:#E76642;
}

.whiteTr{
  color:#ECECE7;
  
}

.whiteTr th:hover{
  color:#E76642;
  transition:.3s ease;
}

.month tr{
  height:24px;
}

.month th{
  width:14%;
  font-size:10px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

#temperature{
  float:right;
  font-size:20px;
  color:#232227;
  font-family: 'Montserrat', sans-serif;
  font-weight:200;
}