/* Grundlegender Reset für alle Elemente */
* {
  margin: 0; /* Setzt den Außenabstand aller Elemente auf Null */
  padding: 0; /* Setzt den Innenabstand aller Elemente auf Null */
  box-sizing: border-box; /* Ändert das Box-Modell, sodass padding und border innerhalb der Breite/Höhe enthalten sind */
  font-family: 'Poppins', sans-serif; /* Setzt eine einheitliche Schriftart für die gesamte Webseite */
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Box-Modell für bessere Breitenkontrolle */
  border: none;
}

/* Media Query für kleinere Bildschirme (z.B. mobile Geräte) */
@media screen and (max-width: 1066px) {
  body {
      min-width: 100%; /* Setzt die Breite auf 100% des Viewports */
      /* Anpassungen für mobile Geräte, z.B. kleinere Schriftgrößen, veränderte Layouts etc. */
  }
}

/* Stile für das Body-Element */
body {
  min-width: 1066px; /* damit verzieht sich nichts auf mobilen geräten, ist nicht optimiert, war aber auch nicht gefordert*/
  padding: 20px; /* Fügt einen Innenabstand um den gesamten Inhalt hinzu Aáußer oben*/
  padding-top: 0px;
}

/* Stile für das Sidebar-Element */
.sidebar {
  position: fixed; /* Positioniert die Sidebar relativ zum Viewport */
  top: 0; /* Setzt die obere Position der Sidebar */
  left: 0; /* Setzt die linke Position der Sidebar */
  height: 100%; /* Setzt die Höhe der Sidebar auf die volle Höhe des Viewports */
  width: 260px; /* Standardbreite der Sidebar */
  background: #11101d; /* Hintergrundfarbe der Sidebar */
  transition: all 0.5s ease; /* Animiert alle Änderungen innerhalb von 0.5 Sekunden */
  z-index: 2000; /* Stellt die Sidebar über andere Elemente */
}

/* Stile für die geschlossene Sidebar */
.sidebar.close {
  width: 78px; /* Reduzierte Breite der Sidebar, wenn sie geschlossen ist */
}

/* Stile für das Logo innerhalb der Sidebar */
.sidebar .logo-details {
  height: 60px; /* Höhe des Logobereichs */
  width: 100%; /* Vollständige Breite des Elternelements */
  display: flex; /* Nutzt Flexbox für die Ausrichtung der Kinder */
  align-items: center; /* Zentriert Kinder vertikal */
  margin-top: 2px;
}

/* Stile für das Icon im Logobereich */
.sidebar .logo-details i {
  font-size: 30px; /* Größe des Icons */
  color: #fff; /* Farbe des Icons */
  height: 50px; /* Höhe des Icons */
  min-width: 78px; /* Minimale Breite des Icons */
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Höhe der Textzeile, um den Text vertikal zu zentrieren */
}

/* Stile für den Namen im Logobereich */
.sidebar .logo-details .logo_name {
  font-size: 22px; /* Schriftgröße des Namens */
  color: #fff; /* Schriftfarbe */
  font-weight: 600; /* Schriftstärke */
  transition: 0.3s ease; /* Weiche Animation beim Ändern */
  transition-delay: 0.1s; /* Verzögerung der Animation */
  margin-left: 20px;
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
}

/* Stile für den Logonamen, wenn die Sidebar geschlossen ist */
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s; /* Keine Verzögerung der Animation */
  opacity: 0; /* Macht den Namen unsichtbar */
  pointer-events: none; /* Deaktiviert Mausereignisse */
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
}



/* Stile für die Navigationslinks in der Sidebar */
.sidebar .nav-links {
  height: 100%; /* Nimmt die volle Höhe des Elternelements ein */
  padding: 30px 0 150px 0; /* Innenabstand oben, unten und seitlich */
  overflow: auto; /* Ermöglicht das Scrollen, falls der Inhalt länger als das Element ist */
}

/* Stile für die Navigationslinks, wenn die Sidebar geschlossen ist */
.sidebar.close .nav-links {
  overflow: visible; /* Macht den überlappenden Inhalt sichtbar */
}

/* Stile für das Scrollbar-Element in der Sidebar */
.sidebar .nav-links::-webkit-scrollbar {
  display: none; /* Versteckt die Scrollbar */
}

/* Stile für jedes Navigationslink-Element */
.sidebar .nav-links li {
  position: relative; /* Ermöglicht die Positionierung von Kinderelementen relativ zu diesem Element */
  list-style: none; /* Entfernt die Listenpunkt-Stile */
  transition: all 0.4s ease; /* Animiert alle Änderungen innerhalb von 0.4 Sekunden */
}

/* Hover-Stile für Navigationslink-Elemente */
.sidebar .nav-links li:hover {
  background: #1d1b31; /* Ändert die Hintergrundfarbe beim Überfahren mit der Maus */
}

/* Stile für den Link innerhalb der Navigationslinks */
.sidebar .nav-links li .iocn-link {
  display: flex; /* Nutzt Flexbox für die Anordnung der Kinder */
  align-items: center; /* Zentriert die Kinder vertikal */
  justify-content: space-between; /* Verteilt die Kinder gleichmäßig mit Raum dazwischen */
}

/* Stile für den Link, wenn die Sidebar geschlossen ist */
.sidebar.close .nav-links li .iocn-link {
  display: block; /* Setzt das Element auf Block-Level */
}

/* Stile für das Icon in den Navigationslinks */
.sidebar .nav-links li i {
  height: 50px; /* Höhe des Icons */
  min-width: 78px; /* Minimale Breite des Icons */
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Höhe der Textzeile, um den Text vertikal zu zentrieren */
  color: #fff; /* Schriftfarbe */
  font-size: 20px; /* Schriftgröße */
  cursor: pointer; /* Verändert den Mauszeiger in einen Zeiger */
  transition: all 0.3s ease; /* Weiche Animation beim Ändern */
}

/* Stile für das Pfeil-Icon, wenn das Untermenü sichtbar ist */
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg); /* Dreht das Icon um 180 Grad */
}

/* Versteckt das Pfeil-Icon, wenn die Sidebar geschlossen ist */
.sidebar.close .nav-links i.arrow {
  display: none; /* Macht das Icon unsichtbar */
}

/* Stile für den Link in den Navigationslinks */
.sidebar .nav-links li a {
  display: flex; /* Nutzt Flexbox für die Anordnung der Kinder */
  align-items: center; /* Zentriert die Kinder vertikal */
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
}

/* Stile für den Namen des Links */
.sidebar .nav-links li a .link_name {
  font-size: 18px; /* Schriftgröße */
  font-weight: 400; /* Schriftstärke */
  color: #fff; /* Schriftfarbe */
  transition: all 0.4s ease; /* Weiche Animation beim Ändern */
}

/* Stile für den Namen des Links, wenn die Sidebar geschlossen ist */
.sidebar.close .nav-links li a .link_name {
  opacity: 0; /* Macht den Namen unsichtbar */
  pointer-events: none; /* Deaktiviert Mausereignisse */
}

/* Stile für das Untermenü in den Navigationslinks */
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px; /* Innenabstand */
  margin-top: -10px; /* Negativer Abstand nach oben, um das Element näher an den Elternteil zu bringen */
  background: #1d1b31; /* Hintergrundfarbe des Untermenüs */
  display: none; /* Standardmäßig nicht sichtbar */
}

/* Stile für das sichtbare Untermenü */
.sidebar .nav-links li.showMenu .sub-menu {
  display: block; /* Macht das Untermenü sichtbar */
}

/* Stile für den Link im Untermenü */
.sidebar .nav-links li .sub-menu a {
  color: #fff; /* Schriftfarbe */
  font-size: 15px; /* Schriftgröße */
  padding: 5px 0; /* Innenabstand oben und unten */
  white-space: nowrap; /* Verhindert das Umbruch des Textes */
  opacity: 0.6; /* Teilweise Transparenz der Schrift */
  transition: all 0.3s ease; /* Weiche Animation beim Ändern */
}

/* Hover-Stile für den Link im Untermenü */
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1; /* Vollständige Sichtbarkeit der Schrift beim Überfahren mit der Maus */
}

/* Stile für das Untermenü, wenn die Sidebar geschlossen ist */
.sidebar.close .nav-links li .sub-menu {
  position: absolute; /* Absolute Positionierung außerhalb der normalen Flussanordnung */
  left: 100%; /* Positioniert das Untermenü rechts von der Sidebar */
  top: -10px; /* Leichter vertikaler Versatz nach oben */
  margin-top: 0; /* Kein zusätzlicher oberer Rand */
  padding: 10px 20px; /* Innenabstand für das Untermenü */
  border-radius: 0 6px 6px 0; /* Abgerundete Ecken auf der rechten Seite */
  opacity: 0; /* Anfangs unsichtbar */
  display: block; /* Block-Display, um es sichtbar zu machen, auch wenn es unsichtbar ist */
  pointer-events: none; /* Keine Mausereignisse, wenn das Menü geschlossen ist */
  transition: 0s; /* Keine Übergangsanimation */
}

/* Stile für das Untermenü beim Hover über das Listenelement */
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0; /* Setzt das Untermenü in seine normale Position */
  opacity: 1; /* Macht das Untermenü sichtbar */
  pointer-events: auto; /* Erlaubt Mausereignisse */
  transition: all 0.4s ease; /* Weiche Übergangsanimation */
}

/* Stile für den Linknamen im Untermenü */
.sidebar .nav-links li .sub-menu .link_name {
  display: none; /* Versteckt den Linknamen standardmäßig */
}

/* Stile für den Linknamen im Untermenü, wenn die Sidebar geschlossen ist */
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px; /* Schriftgröße des Linknamens */
  opacity: 1; /* Macht den Linknamen sichtbar */
  display: block; /* Stellt den Linknamen als Block dar */
}

/* Stile für das leere Untermenü */
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1; /* Sichtbarkeit des leeren Untermenüs */
  pointer-events: auto; /* Erlaubt Mausereignisse */
  padding: 3px 20px 6px 16px; /* Innenabstand des leeren Untermenüs */
  opacity: 0; /* Anfangs unsichtbar */
  pointer-events: none; /* Keine Mausereignisse, wenn das Menü geschlossen ist */
}

/* Stile für das leere Untermenü beim Hover über das Listenelement */
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%; /* Zentriert das leere Untermenü vertikal */
  transform: translateY(-50%); /* Verschiebung für die vertikale Zentrierung */
}


/* Stile für Profildetails in der Seitenleiste */
.sidebar .profile-details {
  position: fixed; /* Fest positioniert */
  bottom: 0px; /* Am unteren Rand des Elternelements */
  width: 260px; /* Breite festgelegt */
  display: flex; /* Flex-Container für Kinder */
  align-items: center; /* Zentriert Kinder vertikal */
  background: #1d1b31; /* Dunkelblauer Hintergrund */
  padding: 12px 0; /* Polsterung oben und unten */
  transition: all 0.5s ease; /* Weiche Übergänge für alle Eigenschaften */
}

/* Stile für Systemdetails in der Seitenleiste */
.sidebar .system-details {
  position: fixed; /* Fest positioniert */
  bottom: 70px; /* 70px vom unteren Rand entfernt */
  width: 260px; /* Breite festgelegt */
  display: flex; /* Flex-Container für Kinder */
  align-items: center; /* Zentriert Kinder vertikal */
  justify-content: left; /* Kinder linksbündig ausrichten */
  background: #11101d; /* Sehr dunkelblauer Hintergrund */
  padding: 12px 0; /* Polsterung oben und unten */
  transition: all 0.5s ease; /* Weiche Übergänge für alle Eigenschaften */
}

/* Anpassungen, wenn die Seitenleiste geschlossen ist */
.sidebar.close .profile-details,
.sidebar.close .system-details {
  background: none; /* Kein Hintergrund */
  width: 78px; /* Reduzierte Breite */
}

/* Stile für den Inhalt der Profildetails */
.sidebar .profile-details .profile-content {
  display: flex; /* Flex-Container für Kinder */
  align-items: center; /* Zentriert Kinder vertikal */
}

/* Stile für Textelemente innerhalb der Profil- und Systemdetails */
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job,
.sidebar .system-details .system-infotext,
.sidebar .system-details .system-additional-infotext {
  color: #fff; /* Weiße Textfarbe */
  font-size: 18px; /* Schriftgröße */
  font-weight: 500; /* Schriftgewicht */
  white-space: nowrap; /* Text nicht umbrechen */
}

/* Versteckt Icons und Text, wenn die Seitenleiste geschlossen ist */
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job,
.sidebar.close .system-details i,
.sidebar.close .system-details .system-infotext,
.sidebar.close .system-details .system-additional-infotext  {
  display: none; /* Elemente nicht anzeigen */
}

/* Angepasste Schriftgröße für Job und zusätzliche Systeminformationen */
.sidebar .profile-details .job,
.sidebar .system-details .system-additional-infotext {
  font-size: 12px; /* Kleinere Schriftgröße */
}

/* Stile für den Hauptbereich der Seite */
.home-section {
  position: relative; /* Relative Positionierung im Fluss der Seite */
  background-size: 100% auto; /* Hintergrundbild skaliert proportional zur Breite */
  background-repeat: no-repeat; /* Keine Wiederholung des Hintergrundbildes */
  height: 100%; /* Höhe des Bereichs */
  left: 260px; /* Positionierung rechts von der Sidebar */
  width: calc(100% - 260px); /* Breite abzüglich der Sidebar-Breite */
  transition: all 0.5s ease; /* Weiche Übergangsanimation */
}

/* Zusätzlicher CSS-Code für den Rest der Seite */
.rest-of-page {
  background-color: white; /* Setzt den Hintergrund unterhalb des Bildbereichs auf Weiß */
  position: relative; /* Erlaubt die Positionierung von Unterelementen relativ zu diesem Element */
}

/* Anpassung der Position und Größe des Hauptbereichs, wenn die Sidebar geschlossen ist */
.sidebar.close~.home-section {
  left: 78px; /* Positionierung rechts von der geschlossenen Sidebar */
  width: calc(100% - 78px); /* Breite abzüglich der geschlossenen Sidebar-Breite */
}

/* Stile für den Inhalt des Hauptbereichs */
.home-section .home-content,
.home-section .home-content .left {
  height: 60px; /* Höhe des Inhaltsbereichs */
  display: flex; /* Nutzt Flexbox für die Anordnung der Kinder */
  align-items: center; /* Zentriert Kinder vertikal */
}

/* Stile für das Menü-Icon und den Text im Hauptbereich */
.home-section .home-content .left .bx-menu,
.home-section .home-content .left .text,
.home-section .home-content .center .heading {
  color: #11101d; /* Schriftfarbe */
  font-size: 35px; /* Schriftgröße des Menü-Icons */
}

/* Stile für das Menü-Icon */
.home-section .home-content .left .bx-menu {
  margin: 0 15px; /* Abstand um das Icon */
  cursor: pointer; /* Zeiger-Cursor beim Überfahren mit der Maus */
}

/* Stile für den Text im Hauptbereich */
.home-section .home-content .left .text, 
.home-section .home-content .center .heading {
  font-size: 26px; /* Schriftgröße des Textes */
  font-weight: 600; /* Schriftstärke */
}


.left, .center, .right {
  flex: 1; /* Gibt jedem Container die gleiche Flexibilität */
}


.center {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt des mittleren Containers */
}

/* Hintergrundbild-Bereich */
.background-image-area-homepage {
  background-image: url("../imageres/BG.png"); /* URL des Hintergrundbildes */
  background-size: cover; /* Sorgt dafür, dass das Bild den gesamten Bereich bedeckt */
  height: 400px; /* Höhe des Bildbereichs */
  border-radius: 10px; /* Abgerundete Ecken */
}

/* Hintergrundbild-Bereich */
.background-image-area-settings {
  background-image: url("../imageres/SETTINGS.png"); /* URL des Hintergrundbildes */
  background-size: cover; /* Sorgt dafür, dass das Bild den gesamten Bereich bedeckt */
  height: 275px; /* Höhe des Bildbereichs */
  border-radius: 10px; /* Abgerundete Ecken */
}

/* Hintergrundbild-Bereich */
.background-image-area-syslog {
  background-image: url("../imageres/SYSLOG.png"); /* URL des Hintergrundbildes */
  background-size: cover; /* Sorgt dafür, dass das Bild den gesamten Bereich bedeckt */
  height: 275px; /* Höhe des Bildbereichs */
  border-radius: 10px; /* Abgerundete Ecken */
}

/* Hintergrundbild-Bereich */
.background-image-area-impressum {
  background-image: url("../imageres/IMPRESSUM.png"); /* URL des Hintergrundbildes */
  background-size: cover; /* Sorgt dafür, dass das Bild den gesamten Bereich bedeckt */
  height: 275px; /* Höhe des Bildbereichs */
  border-radius: 10px; /* Abgerundete Ecken */
}

/* Weißer Bereich unterhalb des Bildes */
.white-area {
  position: relative; /* Erlaubt die Positionierung von Unterelementen relativ zu diesem Element */
  background-color: #f9f9f9; /* Weißer Hintergrund */
}

/* Kleiner weißer Abschnitt */
.small-white-section-homepage {
  position: relative; /* Relative Positionierung im Fluss der Seite */
  top: 50%; /* Vertikale Positionierung in der Mitte */
  left: 50%; /* Horizontale Positionierung in der Mitte */
  transform: translate(-50%, -50%); /* Verschiebung für die exakte Zentrierung */
  width: 470px; /* Breite des Abschnitts */
  height: 250px; /* Höhe des Abschnitts */
  background-color: white; /* Weißer Hintergrund */
  border-radius: 10px; /* Abgerundete Ecken */
  background-color: #f9f9f9; 
}

/* Stile für das Logo */
.logo-image {
  height: 28px; /* Setzt die Höhe des Logos */
  width: 42px; /* Setzt die Breite des Logos */
  margin-top: 2px; /* Oberer Randabstand des Logos */
  margin-left: 18px; /* Linker Randabstand des Logos */
}

/* Zentrieren des Texts in h1-Überschriften und Festlegen eines unteren Randabstands */
h1 {
  text-align: center; /* Zentriert den Text */
  margin-bottom: 5px; /* Abstand unten */
}

/* Hintergrundfarbe für ungültige Eingabefelder */
input.invalid {
  background-color: #ffdddd; /* Rosa Hintergrund für Fehleranzeige */
}

/* Versteckt alle Elemente mit der Klasse 'tab' */
.tab {
  display: none; /* Elemente sind standardmäßig nicht sichtbar */
}

/* Stil für Schaltflächen im Hover-Zustand */
button:hover {
  opacity: 0.8; /* Verringert die Opazität beim Überfahren mit der Maus */
}

/* Stil für den 'Zurück'-Button */
#prevBtn {
  background-color: #bbbbbb; /* Graue Hintergrundfarbe */
}

/* Stile für Schritte in einem Formular (z.B. Fortschrittsanzeige) */
.step {
  height: 15px; /* Höhe des Kreises */
  width: 15px; /* Breite des Kreises */
  margin: 0 2px; /* Randabstände um den Kreis */
  background-color: #bbbbbb; /* Graue Hintergrundfarbe */
  border: none; /* Kein Rand */
  border-radius: 50%; /* Kreisform */
  display: inline-block; /* Inline-Anzeige */
  opacity: 0.5; /* Halbtransparent */
}

/* Stil für aktive Formularschritte */
.step.active {
  opacity: 1; /* Volle Opazität für aktiven Schritt */
}

/* Stil für abgeschlossene Formularschritte */
.step.finish {
  background-color: #04AA6D; /* Grüne Hintergrundfarbe */
}

/* Stile für 'Weiter'- und 'Absenden'-Buttons */
#nextBtn, #submitBtn{
  min-width: 100px; /* Minimale Breite der Buttons */
  border: 1px solid #aaaaaa; /* Rand der Buttons */
  border-top-right-radius: 5px; /* Abgerundete obere rechte Ecke */
  border-bottom-right-radius: 5px; /* Abgerundete untere rechte Ecke */
  font-size: 17px; /* Schriftgröße */
}

/* Stile für das Registrierungsformular */
#regForm {
  top: 70px; /* Positionierung von oben */
  margin: auto; /* Zentriert das Element horizontal */
  padding: 20px; /* Innenabstand */
  width: 70%; /* Breite des Formulars */
  min-width: 300px; /* Minimale Breite */
  max-width: 640px; /* Maximale Breite */
  position: relative; /* Relative Positionierung */
  background-color: #f9f9f9; /* Hintergrundfarbe */
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schatten-Effekt */
  box-sizing: border-box; /* Größenberechnung inklusive Rand und Polsterung */
}

/* Stile für Eingabefelder in einer Eingabe-Button-Gruppe */
.input-button-group input {
  padding: 10px; /* Innenabstand */
  width: 100%; /* Volle Breite */
  font-size: 17px; /* Schriftgröße */
  border: 1px solid #aaaaaa; /* Rand des Eingabefelds */
  border-top-left-radius: 5px; /* Abgerundete obere linke Ecke */
  border-bottom-left-radius: 5px; /* Abgerundete untere linke Ecke */
}

/* Flexbox-Layout für Eingabe-Button-Gruppen und deren Absätze */
.input-button-group, .input-button-group p {
  display: flex; /* Flexbox-Layout */
}

.rowcolumn_packages {
  float: left; /* Links ausgerichtete Spalte */
  width: 33.33%; /* Spalte nimmt ein Drittel der verfügbaren Breite ein */
  min-width: 470px; /* Minimale Breite der Spalte */
}

.rowcolumn_filter{
  width: 33.33%; /* Spalte nimmt ein Drittel der verfügbaren Breite ein */
  min-width: 20%; /* Minimale Breite der Spalte in Prozent */
}

.rowcolumn_calender {
  width: 33.33%; /* Spalte nimmt ein Drittel der verfügbaren Breite ein */
  min-width: 28%; /* Minimale Breite der Spalte in Prozent */
}

.rowcolumn_filter{
  display: flex; /* Flexibles Box-Modell für Inhalt und Layout */
  justify-content: right; /* Inhalte rechts ausrichten */
  align-items: flex-start; /* Elemente am Anfang der flexiblen Box ausrichten */
}

.rowcolumn {
  float: left; /* Links ausgerichtete Spalte */
  width: 25%; /* Spalte nimmt ein Viertel der verfügbaren Breite ein */
}

.rowcolumn_middle {
  float: left; /* Links ausgerichtete Spalte */
  width: 50%; /* Spalte nimmt die Hälfte der verfügbaren Breite ein */
  min-width: 50%; /* Minimale Breite der Spalte */
}

.rowrow {
  display: flex; /* Flexibles Box-Modell für Inhalt und Layout */
  width: 100%; /* Spalte nimmt die volle verfügbare Breite ein */
  justify-content: center; /* Inhalte zentriert ausrichten */
}

.rowrow:after {
  content: ""; /* Fügt nach dem Element Inhalt hinzu (hier leer) */
  display: table; /* Element als Tabelle anzeigen */
  clear: both; /* Löscht Float-Eigenschaften beider Seiten */
}

.heading {
  display:flex; /* Flexibles Box-Modell für Inhalt und Layout */
}

.small-white-section-settings {
  position: relative; /* Relative Positionierung */
  top: 50%; /* Vertikal in der Mitte positionieren */
  left: 50%; /* Horizontal in der Mitte positionieren */
  transform: translate(-50%, -50%); /* Zentriert das Element genau */
  width: 100%; /* Breite auf 100% setzen */
  height: 250px; /* Höhe auf 250px setzen */
  background-color: #f9f9f9; /* Hintergrundfarbe setzen */
  border-radius: 10px; /* Abgerundete Ecken */
}

.row-container {
  min-height: 600px; /* Mindesthöhe von 600px */
  display: flex; /* Flexibles Box-Modell */
  width: 100%; /* Breite auf 100% setzen */
  height: 100%; /* Höhe auf 100% setzen */
  flex-direction: row; /* Elemente in einer Reihe anordnen */
  background-color: #f9f9f9; /* Hintergrundfarbe setzen */
  overflow: hidden; /* Überlauf verstecken */
}

.first-row {
  min-width: 10%; /* Mindestbreite von 10% */
}

.second-row,
.third-row {
  min-width: 45%; /* Mindestbreite von 45% */
  margin-top: 2%; /* Oberer Rand von 2% */
  display: flex; /* Flexibles Box-Modell */
  flex-direction: column; /* Elemente in einer Spalte anordnen */
  align-items: flex-start; /* Elemente am Anfang ausrichten */
}

.programmer {
  display: flex; /* Flexibles Box-Modell */
  justify-content: flex-start; /* Inhalt am Anfang ausrichten */
  flex-direction: column; /* Elemente in einer Spalte anordnen */
  align-items: flex-start; /* Elemente am Anfang ausrichten */
  width: 70%; /* Breite auf 70% setzen */
}

/* .programmerDivider: Definiert die Ränder, Farbe und die Grenze für Trennlinien innerhalb eines "programmer"-Abschnitts. */
.programmerDivider {
  margin-top: 0px; /* Kein Abstand nach oben */
  margin-bottom: 10px; /* 10px Abstand nach unten */
  color: black; /* Textfarbe schwarz */
  border-top: 1px solid rgba(50,50,50); /* Obere Grenzlinie mit leichter Transparenz */
  height: 1px; /* Höhe der Trennlinie */
  width: 100%; /* Breite auf volle Breite des Elternelements setzen */
}

/* iframe: Stildefinitionen für <iframe>-Elemente. */
iframe {
  width: 100%; /* Breite auf volle Breite des Elternelements setzen */
  height: 100vh; /* Höhe auf volle Höhe des Viewport (Bildschirm) setzen */
  overflow: hidden; /* Kein Scrollen innerhalb des iframes zulassen */
  border: none; /* Keine Rahmenlinie um das iframe */
}

/* .disabled-link: Stil für deaktivierte Links. */
.disabled-link {
  pointer-events: none; /* Keine Mausereignisse auf dem Link zulassen */
  opacity: 0.2; /* Link halbtransparent machen */
}

/* #showFilterButton: Stildefinitionen für den "Filter anzeigen"-Button. */
#showFilterButton {
  position: relative; /* Position relativ zum normalen Fluss */
  top: 25px; /* 25px nach unten versetzt */
  right: 14.5%; /* 14.5% vom rechten Rand entfernt */
  width: 80px; /* Breite des Buttons */
  height: 40px; /* Höhe des Buttons */
  font-size: 17px; /* Schriftgröße des Buttons */
  border-radius: 5px; /* Abrunden der Ecken */
  border: 1px solid #aaaaaa; /* Rahmen um den Button */
}

/* .form-control: Stil für Formularelemente. */
.form-control {
  width: 24vw; /* Breite des Elements als Prozentsatz der Viewport-Breite */
}