/* Container für Pakete */
.packages-container {
    display: flex; /* Nutzt Flexbox für die Anordnung der Kinder-Elemente */
    flex-direction: column-reverse;
    align-items: center; /* Zentriert Kinder-Elemente horizontal */
}

/* Stile für den "Paket hinzufügen"-Button */
.add-package-btn {
    padding: 10px 20px; /* Innenabstand */
    margin-top: 20px; /* Abstand nach oben */
    font-size: 16px; /* Schriftgröße */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren mit der Maus */
}

/* Kreis-Segmente im ganzen*/
.shipmentProgress {
    margin: 5px;
}

/* Kreis-Segmente Stile */
.segment {
    fill: lightgray; /* Standardfarbe der Segmente */
}

/* Transparente Füllung */
.transparent {
    fill: transparent;
}

/* Stil für das Abdeckelement in der Mitte des Kreises */
.cover {
    fill: white; /* Weiße Füllung */
}

/* Stil für den mittleren Kreis */
.middlecircle {
    fill: lightgray; /* Hellgraue Füllung */
}

/* Stile für das Menü-Icon (drei Punkte) */
.menu {
    position: absolute; /* Absolute Positionierung */
    top: 10px; right: 10px; /* Positionierung rechts oben in der Box */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren mit der Maus */
}

/* Stile für die Teaser-Boxen */
.shipment.teaser {
    background-color: #fff; /* Weiße Hintergrundfarbe */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Leichter Schatten */
    padding: 10px; /* Innenabstand */
    margin-top: 10px; /* Abstand nach oben */
    position: relative; /* Erlaubt absolute Positionierung von Unterelementen */
    width: 450px; /* Breite des Abschnitts */
}

/* Stile für die Schriften der Teaser-Boxen */
 .adressedTo , .customerName , .customerAdress  {
    margin: 5px; /* Abstand in alle Richtungen */
}

/* Stile für den Paketnamen */
.shipmentName {
    margin: 5px; /* Abstand in alle Richtungen */
    font-size: 24px; /* Schriftgröße */
}

/* Stile für die Paketnummer */
.shipmentNumber {
    margin: 5px; /* Abstand in alle Richtungen */
    font-size: 14px; /* Schriftgröße */
    color: grey; /* Farbe */
}

/* Stile für das Menü-Icon (drei Punkte) */
.menu-dots {
    position: absolute; /* Absolute Positionierung */
    top: 10px; right: 10px; /* Positionierung rechts oben */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren mit der Maus */
    user-select: none; /* Deaktiviert das Auswählen des Textes */
    font-size: 20px; /* Schriftgröße */
    line-height: 1; /* Zeilenhöhe */
}

/* Stile für das Menü mit Optionen */
.menu-options {
    display: none; /* Standardmäßig nicht sichtbar */
    position: absolute; /* Absolute Positionierung */
    top: 30px; right: 10px; /* Positionierung unter dem Menü-Icon */
    background-color: #ffffff; /* Weiße Hintergrundfarbe */
    border: 1px solid #ddd; /* Rand */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Schatten */
    z-index: 10; /* Stellt sicher, dass das Menü über anderen Elementen liegt */
}

/* Stile für jede Menüoption */
.menu-option {
    padding: 8px 15px; /* Innenabstand */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren mit der Maus */
}

/* Stil für Menüoptionen beim Überfahren mit der Maus */
.menu-option:hover {
    background-color: #f0f0f0; /* Hintergrundfarbe beim Überfahren */
}

/* Stil für die Trennlinie in der Teaser-Box */
.shipmentDivider {
    margin-top: 5px; /* Abstand nach oben */
    margin-bottom: 5px; /* Abstand nach unten */
    color: black;
    border-top: 1px solid rgba(50,50,50,.1);
}

/* Stil für den Bestätigungsdialog-Hintergrund */
.confirmation-dialog {
  margin: auto;
  position: fixed; /* Dialog wird relativ zum Viewport positioniert */
  top: 0; left: 0; /* Positioniert den Dialog über den gesamten Bildschirm */
  width: 100%; height: 100%; /* Der Dialog bedeckt den gesamten Bildschirm */
  background: rgba(0, 0, 0, 0.6); /* Dunkler, halbtransparenter Hintergrund */
  display: flex; /* Nutzt Flexbox für die Zentrierung des Inhalts */
  align-items: center; justify-content: center; /* Zentriert den Inhalt vertikal und horizontal */
  z-index: 3000; /* Stellt sicher, dass der Dialog über anderen Elementen liegt */
}

/* Stil für den Dialoginhalt */
.dialog-content {
  margin: auto;
  background: #f9f9f9; /* Weißer Hintergrund */
  padding: 20px; /* Innenabstand */
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Schatten für 3D-Effekt */
  width: auto; /* Breite passt sich dem Inhalt an */
  max-width: 400px; /* Maximale Breite, um den Dialog kompakt zu halten */
}

.dialog-content h2 {
  margin-bottom: 10px; /* Kein oberer Rand für die Überschrift */
}

/* Stil für die Schaltflächen innerhalb des Dialogs */
.dialog-buttons {
  text-align: right; /* Schaltflächen rechtsbündig */
  margin-top: 20px; /* Abstand nach oben */
  display: flex;
  justify-content: space-between;

}

.dialog-buttons button {
  padding: 10px 20px; /* Innenabstand der Schaltflächen */
  margin-left: 10px; /* Abstand zwischen den Schaltflächen */
  cursor: pointer; /* Cursor ändert sich zu einem Zeiger */
  transition: background-color 0.3s ease; /* Weiche Übergangsanimation für die Hintergrundfarbe */
}

/* Stiländerungen beim Hovern über die Schaltflächen */
.dialog-buttons button:hover {
  background-color: #f0f0f0; /* Ändert die Hintergrundfarbe beim Hovern */
}

/* Stil für das Umbenennungsdialogfenster */
#renameDialog {
    position: fixed; /* Fixiert das Dialogfenster relativ zum Bildschirm */
    top: 0; left: 0; /* Positioniert das Dialogfenster über dem gesamten Bildschirm */
    width: 100%; height: 100%; /* Breite und Höhe, um den gesamten Bildschirm abzudecken */
    /*display: flex; Verwendet Flexbox für die Zentrierung des Inhalts */
    align-items: center; /* Zentriert den Inhalt vertikal */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    background: rgba(0, 0, 0, 0.6); /* Halbtransparenter Hintergrund */
    z-index: 1000; /* Stellt sicher, dass das Dialogfenster über anderen Elementen liegt */
}

/* Stil für das Eingabefeld im Dialog */
#renameDialog input[type="text"] {
    width: 100%; /* Volle Breite des Dialogfensters */
    padding: 10px; /* Innenabstand */
    margin-top: 15px; /* Abstand nach oben */
    border: 1px solid #ddd; /* Rand des Eingabefelds */
    border-radius: 5px; /* Abgerundete Ecken des Eingabefelds */
    font-size: 16px; /* Schriftgröße im Eingabefeld */
    z-index: 3000; /* Stellt sicher, dass der Dialog über anderen Elementen liegt */
}

/* Versteckt das Dialogelement standardmäßig */
.hidden {
    display: none; /* Entfernt das Element aus dem Dokumentfluss, es wird nicht angezeigt und nimmt keinen Platz ein */
}

/* Stildefinitionen für kreisförmigen Text */
.circle-text {
  fill: white; /* Setzt die Textfarbe auf Weiß, vor allem für SVG-Textelemente verwendet */
  font-weight: bold; /* Setzt die Schrift auf fett, um Text hervorzuheben */
  font-family: Arial, sans-serif; /* Definiert Arial als Schriftart, mit Fallback auf jede serifenlose Schrift */
  font-size: 14px; /* Definiert die Schriftgröße, hier auf 14 Pixel festgelegt */
}

/* Stildefinitionen für den Container, der Versandinformationen anzeigt */
.shipmentInfo {
    margin-top: 20px; /* Setzt den oberen äußeren Abstand auf 20 Pixel */
    margin-bottom: 10px; /* Setzt den unteren äußeren Abstand auf 10 Pixel */
    margin-left: 10px; /* Setzt den linken äußeren Abstand auf 10 Pixel */
    margin-right: 10px; /* Setzt den rechten äußeren Abstand auf 10 Pixel */
    display:flex; /* Nutzt Flexbox für flexibles Layout innerhalb dieses Containers */
    
}

/* Stildefinitionen für kreisförmige Fortschrittsanzeigen */
.circularProgress {
    display: flex; /* Nutzt Flexbox für die Anordnung der Elemente */
    align-items: center; /* Zentriert Elemente vertikal innerhalb des Containers */
    margin-right: 10px; /* Setzt einen rechten äußeren Abstand von 10 Pixel */
}

/* Stildefinitionen für zusätzliche Statusinformationen */
.statusInfo {
    margin-left: 5px; /* Setzt einen linken äußeren Abstand von 5 Pixel */
}

/* Stildefinitionen für Spalten in einem Dreispaltenlayout */
.column {
    float: left; /* Lässt die Spalte nach links fließen */
    width: 33.33%; /* Setzt die Breite der Spalte auf ein Drittel des Elternelements */
}
  
/* Sorgt dafür, dass umfassende Elemente ihre fließenden Kinder vollständig umschließen */
.row:after {
    content: ""; /* Erforderlich für den Clearfix */
    display: table; /* Ändert das Anzeigeverhalten zu 'table', was beim Clearfix hilft */
    clear: both; /* Bereinigt sowohl links als auch rechts fließende Elemente */
}

/* Stildefinitionen für eine Schaltfläche, vermutlich eine 'Zurück'-Schaltfläche */
#prevBtn {
    all: unset; /* Entfernt alle vorherigen Standardeinstellungen und Erbstile */
    height: 45px; /* Setzt die Höhe der Schaltfläche */
    position: absolute; /* Positioniert die Schaltfläche absolut innerhalb des nächstgelegenen relativ positionierten Elternelements */
    left: 10px; /* Setzt die horizontale Position 10 Pixel vom linken Rand entfernt */
    top: 0px; /* Setzt die vertikale Position ganz oben im Elternelement */
    width: 45px; /* Setzt die Breite der Schaltfläche */
    font-size: 20px; /* Setzt die Schriftgröße für Text in der Schaltfläche */
}