/* Quelle: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 5px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeee;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
  }
  
  input:checked + .slider {
    background-color: #f0ad4e;
    border-radius: 5px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f0ad4e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .toggleTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin-left: 10px;
    margin-top: 15px;
  }

  .switchLabel {
    min-width: 150px;
  }