/* Allgemeine Stile für Steuerungselemente */
.controls div {
    margin-bottom: 10px; /* Setzt einen unteren Abstand für jedes Steuerungselement */
}

.controls input {
    padding: 5px; /* Fügt Innenabstand zu Eingabefeldern hinzu */
    margin-right: 10px; /* Fügt rechten Abstand zu Eingabefeldern hinzu */
}

.controls button {
    padding: 5px 10px; /* Fügt Innenabstand zu Buttons hinzu */
}

body {
    background-color: #f9f9f9; /* Hintergrundfarbe des gesamten Dokuments */
}

.wrapper {
    width: 380px; /* Breite des Wrapper-Elements */
    position: absolute; /* Absolute Positionierung */
    transform: translate(-50%, -50%); /* Zentriert das Element */
    top: 50%; /* Vertikale Position in der Mitte */
    left: 50%; /* Horizontale Position in der Mitte */
}

/* Stile für Toast-Nachrichten */
.toast {
    margin-top: 10px; /* Abstand zwischen den Toasts */
    animation: slideInRight 0.5s ease forwards; /* Animation für das Einfliegen von rechts */
    width: 100%; /* Volle Breite */
    height: 80px; /* Höhe des Toasts */
    padding-top: 10px; /* Innenabstand */
    padding-bottom: 10px; /* Innenabstand */
    padding-left: 20px; /* Innenabstand */
    padding-right: 20px; /* Innenabstand */
    background-color: #ffffff; /* Hintergrundfarbe */
    border-radius: 7px; /* Abgerundete Ecken */
    display: grid; /* Grid-Layout */
    grid-template-columns: 1.3fr 6fr 0.5fr; /* Spaltenaufteilung im Grid */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08); /* Schatten für 3D-Effekt */
    transition: margin 0.5s ease, opacity 0.5s ease, transform 0.5s ease; /* Übergangseffekte für sanfte Animation */
}

.toast.exit {
    animation: slideOutRight 0.5s ease forwards; /* Animation für das Ausfliegen nach rechts */
}

/* Stile für spezifische Toast-Typen */
.success {
    border-left: 3px solid #47D764; /* Grüne Linie für Erfolgsmeldungen */
}

.error {
    border-left: 3px solid #ff355b; /* Rote Linie für Fehlermeldungen */
}

.info {
    border-left: 3px solid #2F86EB; /* Blaue Linie für Informationsmeldungen */
}

.warning {
    border-left: 3px solid #FFC021; /* Gelbe Linie für Warnmeldungen */
}

/* Stile für Icons in Toast-Nachrichten */
.toast-icon {
    width: 32px; /* Breite des Icons */
    height: 32px; /* Höhe des Icons */
    margin-top: 14px; /* Oberer Abstand vom Text */
    margin-right: 10px; /* Rechter Abstand vom Text */
    align-items: center; /* Zentriert den Inhalt vertikal */
}

.critical {
    border-left: 3px solid #d9534f; /* Rote Linie für kritische Nachrichten */
}

/* Stile für die Toast-Container-Animation */
#toast-container {
    position: fixed; /* Fixiert den Container am Bildschirm */
    top: 10px; /* Abstand von oben */
    right: 10px; /* Abstand von rechts */
    z-index: 100000; /* Stellt sicher, dass Toasts über anderen Elementen liegen */
    max-width: 380px; /* Maximale Breite des Toast Containers */
    transition: all 0.5s ease; /* Weiche Übergangseffekte */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Box-Modell für bessere Breitenkontrolle */
    border: none;
    font-size: 14px; /* Setzt eine globale Schriftgröße */
}

/* Keyframe-Animationen für das Ein- und Ausfliegen der Toasts */
@keyframes slideInRight {
    from {
        transform: translateX(100%); /* Startet außerhalb des Bildschirms */
        opacity: 0; /* Startet unsichtbar */
    }
    to {
        transform: translateX(0); /* Endposition im sichtbaren Bereich */
        opacity: 1; /* Vollständig sichtbar */
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0); /* Startet im sichtbaren Bereich */
        opacity: 1; /* Startet sichtbar */
    }
    to {
        transform: translateX(100%); /* Endet außerhalb des Bildschirms */
        opacity: 0; /* Endet unsichtbar */
    }
}

.toast button {
    align-self: flex-start; /* Positioniert den Button am Anfang der flexbox-Elemente (oben im Toast) */
    background-color: transparent; /* Der Hintergrund des Buttons ist transparent */
    font-size: 20px; /* Schriftgröße des Schließkreuzes */
    color: #656565; /* Farbe des Schließkreuzes */
    line-height: 0; /* Setzt die Zeilenhöhe auf 0, um unnötigen Abstand zu entfernen */
    cursor: pointer; /* Ändert den Cursor in einen Zeiger, um Interaktivität anzuzeigen */
    margin-right: -30px; /* Verschiebt den Button nach rechts außerhalb des Toasts */
}

/* Stile für die Überschrift im Toast */
.inner-container {
    display: flex; /* Nutzt Flexbox für eine flexible Anordnung der Elemente */
    flex-direction: column; /* Elemente werden vertikal angeordnet */
    justify-content: center; /* Zentriert die Inhalte vertikal */
    height: 100%; /* Nimmt die volle Höhe des Toasts ein */
    font-weight: bold; /* Macht die Überschrift fett */
    font-size: 18px;
}

/* Stile für den Textkörper im Toast */
.inner-container p:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #656565;
    flex-grow: 1; /* Erlaubt dem Textkörper, den verbleibenden Platz einzunehmen */
    display: flex; /* Nutzt Flexbox für die Anordnung des Inhalts */
    align-items: center; /* Zentriert den Inhalt vertikal */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    text-align: left; /* Zentriert den Text */
    margin-top: 4px; /* Abstand vom oberen Rand */
    margin-bottom: 4px; /* Gleichmäßiger Abstand zum unteren Rand */
}